# Pandas

Pandas is a powerful and flexible open-source data analysis and manipulation library for Python. It provides data structures for efficiently storing and manipulating tabular data and time series, along with tools for reading, writing, and processing data.

In [ ]:
import pandas as pd
import numpy as np

# Core Data Structures in Pandas
Pandas provides two primary data structures:
- Series: One-dimensional labeled array
- DataFrame: Two-dimensional labeled data structure with columns of potentially different types

Let's create some examples:

In [ ]:
# Creating a Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Series example:")
print(s)

# Creating a DataFrame from a dictionary
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [65000, 70000, 62000, 85000]
}

df = pd.DataFrame(data)
print("\nDataFrame example:")
print(df)

Series example:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

DataFrame example:
    Name  Age      City  Salary
0   John   28  New York   65000
1   Anna   34     Paris   70000
2  Peter   29    Berlin   62000
3  Linda   42    London   85000

# Loading Data from External Sources
Pandas excels at importing data from various file formats and external sources.

In [ ]:
# Creating a CSV file for demonstration
df.to_csv('sample_data.csv', index=False)

# Reading data from CSV
df_from_csv = pd.read_csv('sample_data.csv')
print("Data read from CSV:")
print(df_from_csv)

# Other common data import methods include:
# pd.read_excel('file.xlsx')
# pd.read_json('file.json')
# pd.read_sql('SELECT * FROM table', connection)

Data read from CSV:
    Name  Age      City  Salary
0   John   28  New York   65000
1   Anna   34     Paris   70000
2  Peter   29    Berlin   62000
3  Linda   42    London   85000

# Data Exploration and Basic Information
Pandas provides multiple methods to understand and explore your dataset:

In [ ]:
# Display basic information about the DataFrame
print("DataFrame info:")
df.info()

# Get statistical summary
print("\nStatistical summary:")
print(df.describe())

# First few rows
print("\nFirst 2 rows:")
print(df.head(2))

# Last few rows
print("\nLast 2 rows:")
print(df.tail(2))

# Column and row count
print("\nDataFrame shape (rows, columns):", df.shape)

# Column names
print("\nColumn names:", df.columns.tolist())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   Salary  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

Statistical summary:
             Age        Salary
count   4.000000      4.000000
mean   33.250000  70500.000000
std     6.396614  10214.368964
min    28.000000  62000.000000
25%    28.750000  64250.000000
50%    31.500000  67500.000000
75%    36.000000  73750.000000
max    42.000000  85000.000000

First 2 rows:
   Name  Age      City  Salary
0  John   28  New York   65000
1  Anna   34     Paris   70000

Last 2 rows:
    Name  Age    City  Salary
2  Peter   29  Berlin   62000
3  Linda   42  London   85000

DataFrame shape (rows, columns): (4, 4)

Column names: ['Name', 'Age', 'City', 'Salary']

# Data Selection and Indexing
Pandas offers multiple ways to select and filter data:

In [ ]:
# Selecting a single column
print("Name column:")
print(df['Name'])

# Selecting multiple columns
print("\nName and Age columns:")
print(df[['Name', 'Age']])

# Selection by position (iloc)
print("\nFirst two rows, first three columns:")
print(df.iloc[0:2, 0:3])

# Selection by label (loc)
print("\nRows where Name is 'John' or 'Anna':")
print(df.loc[df['Name'].isin(['John', 'Anna'])])

# Boolean indexing
print("\nPeople older than 30:")
print(df[df['Age'] > 30])

Name column:
0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object

Name and Age columns:
    Name  Age
0   John   28
1   Anna   34
2  Peter   29
3  Linda   42

First two rows, first three columns:
   Name  Age      City
0  John   28  New York
1  Anna   34     Paris

Rows where Name is 'John' or 'Anna':
   Name  Age      City  Salary
0  John   28  New York   65000
1  Anna   34     Paris   70000

People older than 30:
    Name  Age    City  Salary
1   Anna   34   Paris   70000
3  Linda   42  London   85000

# Data Cleaning and Handling Missing Values
Real-world data often contains missing or inconsistent values. Pandas provides tools to handle these issues:

In [ ]:
# Creating a DataFrame with missing values
data_missing = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df_missing = pd.DataFrame(data_missing)
print("DataFrame with missing values:")
print(df_missing)

# Checking for missing values
print("\nMissing values count per column:")
print(df_missing.isna().sum())

# Dropping rows with missing values
print("\nAfter dropping rows with any missing values:")
print(df_missing.dropna())

# Filling missing values
print("\nFilling missing values with zero:")
print(df_missing.fillna(0))

# Filling missing values with column mean
print("\nFilling missing values with column mean:")
print(df_missing.fillna(df_missing.mean()))

DataFrame with missing values:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

Missing values count per column:
A    1
B    2
C    0
dtype: int64

After dropping rows with any missing values:
     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

Filling missing values with zero:
     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  0.0  11
3  4.0  8.0  12

Filling missing values with column mean:
          A    B   C
0  1.000000  5.0   9
1  2.000000  6.5  10
2  2.333333  6.5  11
3  4.000000  8.0  12

# Data Transformation and Column Operations
Let's explore various data transformation techniques:

In [ ]:
# Adding a new column
df['Bonus'] = df['Salary'] * 0.1
print("DataFrame with Bonus column:")
print(df)

# Applying a function to a column
df['Salary_after_tax'] = df['Salary'].apply(lambda x: x * 0.7)
print("\nAfter adding tax-adjusted salary:")
print(df)

# Rename columns
df_renamed = df.rename(columns={'Salary': 'Annual_Salary', 'City': 'Location'})
print("\nRenamed columns:")
print(df_renamed.head())

# Change data types
df['Age'] = df['Age'].astype(float)
print("\nAge column type after conversion:", df['Age'].dtype)

DataFrame with Bonus column:
    Name  Age      City  Salary   Bonus
0   John   28  New York   65000  6500.0
1   Anna   34     Paris   70000  7000.0
2  Peter   29    Berlin   62000  6200.0
3  Linda   42    London   85000  8500.0

After adding tax-adjusted salary:
    Name  Age      City  Salary   Bonus  Salary_after_tax
0   John   28  New York   65000  6500.0           45500.0
1   Anna   34     Paris   70000  7000.0           49000.0
2  Peter   29    Berlin   62000  6200.0           43400.0
3  Linda   42    London   85000  8500.0           59500.0

Renamed columns:
    Name  Age  Location  Annual_Salary   Bonus  Salary_after_tax
0   John   28  New York          65000  6500.0           45500.0
1   Anna   34     Paris          70000  7000.0           49000.0
2  Peter   29    Berlin          62000  6200.0           43400.0
3  Linda   42    London          85000  8500.0           59500.0

Age column type after conversion: float64

# Grouping and Aggregation
Grouping operations are essential for data analysis:

In [ ]:
# Create a larger dataset for demonstration
data_large = {
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance', 'HR'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Salary': [60000, 85000, 72000, 58000, 90000, 76000, 62000],
    'Years': [3, 5, 2, 4, 6, 3, 2]
}
df_large = pd.DataFrame(data_large)
print("Large dataset:")
print(df_large)

# Group by department and calculate mean
print("\nAverage salary by department:")
print(df_large.groupby('Department')['Salary'].mean())

# Multiple aggregations
print("\nMultiple aggregations by department:")
print(df_large.groupby('Department').agg({
    'Salary': ['mean', 'min', 'max', 'count'],
    'Years': ['mean', 'min', 'max']
}))

Large dataset:
  Department Employee  Salary  Years
0         HR    Alice   60000      3
1         IT      Bob   85000      5
2    Finance  Charlie   72000      2
3         HR    David   58000      4
4         IT      Eve   90000      6
5    Finance    Frank   76000      3
6         HR    Grace   62000      2

Average salary by department:
Department
Finance    74000.0
HR         60000.0
IT         87500.0
Name: Salary, dtype: float64

Multiple aggregations by department:
             Salary                     Years
               mean    min    max count  mean min max
Department
Finance     74000.0  72000  76000     2   2.5   2   3
HR          60000.0  58000  62000     3   3.0   2   4
IT          87500.0  85000  90000     2   5.5   5   6

# Merging, Joining, and Concatenating DataFrames
Combining data from multiple sources is a common operation:

In [ ]:
# Create two DataFrames to merge
df1 = pd.DataFrame({
    'Employee_ID': [1, 2, 3, 4],
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Department': ['HR', 'IT', 'Finance', 'Operations']
})

df2 = pd.DataFrame({
    'Employee_ID': [2, 3, 4, 5],
    'Salary': [70000, 62000, 85000, 45000],
    'Years': [5, 3, 7, 2]
})

print("df1:")
print(df1)
print("\ndf2:")
print(df2)

# Inner merge (only matching Employee_ID)
print("\nInner merge:")
print(pd.merge(df1, df2, on='Employee_ID', how='inner'))

# Outer merge (all Employee_IDs)
print("\nOuter merge:")
print(pd.merge(df1, df2, on='Employee_ID', how='outer'))

# Concatenating DataFrames
print("\nVertical concatenation:")
print(pd.concat([df1, df1], ignore_index=True))

df1:
   Employee_ID   Name  Department
0            1   John          HR
1            2   Anna          IT
2            3  Peter     Finance
3            4  Linda  Operations

df2:
   Employee_ID  Salary  Years
0            2   70000      5
1            3   62000      3
2            4   85000      7
3            5   45000      2

Inner merge:
   Employee_ID   Name  Department  Salary  Years
0            2   Anna          IT   70000      5
1            3  Peter     Finance   62000      3
2            4  Linda  Operations   85000      7

Outer merge:
   Employee_ID   Name  Department   Salary  Years
0            1   John          HR      NaN    NaN
1            2   Anna          IT  70000.0    5.0
2            3  Peter     Finance  62000.0    3.0
3            4  Linda  Operations  85000.0    7.0
4            5    NaN         NaN  45000.0    2.0

Vertical concatenation:
   Employee_ID   Name  Department
0            1   John          HR
1            2   Anna          IT
2            3  Peter     Finance
3            4  Linda  Operations
4            1   John          HR
5            2   Anna          IT
6            3  Peter     Finance
7            4  Linda  Operations

# Working with Time Series Data
Pandas has excellent support for time series data:

In [ ]:
# Create a date range
dates = pd.date_range(start='2025-01-01', periods=6, freq='D')
print("Date range:")
print(dates)

# Create a DataFrame with the date range as index
ts_df = pd.DataFrame({
    'Value': np.random.randn(6),
    'Volume': np.random.randint(100, 1000, size=6)
}, index=dates)
print("\nTime series DataFrame:")
print(ts_df)

# Resampling time series data
print("\nMonthly resampling (mean):")
print(ts_df.resample('ME').mean())

# Date filtering
print("\nData after January 3rd, 2025:")
print(ts_df['2025-01-03':])

Date range:
DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

Time series DataFrame:
               Value  Volume
2025-01-01  0.408660     871
2025-01-02 -0.946058     200
2025-01-03 -1.001526     458
2025-01-04 -0.494043     582
2025-01-05 -0.477256     901
2025-01-06 -0.017353     844

Monthly resampling (mean):
               Value      Volume
2025-01-31 -0.421263  642.666667

Data after January 3rd, 2025:
               Value  Volume
2025-01-03 -1.001526     458
2025-01-04 -0.494043     582
2025-01-05 -0.477256     901
2025-01-06 -0.017353     844

# Pivoting and Reshaping Data
Reshaping data is often needed for analysis and visualization:

In [ ]:
# Create sample data
sales_data = pd.DataFrame({
    'Date': ['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-02', '2025-01-03'],
    'Product': ['A', 'B', 'A', 'B', 'A'],
    'Region': ['East', 'West', 'East', 'West', 'East'],
    'Sales': [100, 200, 150, 250, 180]
})
print("Sales data:")
print(sales_data)

# Create a pivot table
pivot = sales_data.pivot_table(values='Sales', index='Date',
                             columns='Product', aggfunc='sum')
print("\nPivot table (Sales by Date and Product):")
print(pivot)

# More complex pivot table
pivot_complex = sales_data.pivot_table(
    values='Sales',
    index='Date',
    columns=['Product', 'Region'],
    aggfunc='sum',
    fill_value=0
)
print("\nComplex pivot table:")
print(pivot_complex)

Sales data:
         Date Product Region  Sales
0  2025-01-01       A   East    100
1  2025-01-01       B   West    200
2  2025-01-02       A   East    150
3  2025-01-02       B   West    250
4  2025-01-03       A   East    180

Pivot table (Sales by Date and Product):
Product         A      B
Date
2025-01-01  100.0  200.0
2025-01-02  150.0  250.0
2025-01-03  180.0    NaN

Complex pivot table:
Product       A    B
Region     East West
Date
2025-01-01  100  200
2025-01-02  150  250
2025-01-03  180    0

# Working with Categorical Data
Categorical data is common in many datasets:

In [ ]:
# Creating categorical data
df_cat = pd.DataFrame({
    'ID': range(1, 11),
    'Rating': pd.Categorical(['Low', 'Medium', 'High', 'Medium', 'Low',
                             'High', 'Low', 'Medium', 'Medium', 'High'],
                            categories=['Low', 'Medium', 'High'],
                            ordered=True)
})
print("DataFrame with categorical data:")
print(df_cat)

# Get category frequencies
print("\nRating frequencies:")
print(df_cat['Rating'].value_counts())

# One-hot encoding
print("\nOne-hot encoded ratings:")
print(pd.get_dummies(df_cat['Rating']))

DataFrame with categorical data:
   ID  Rating
0   1     Low
1   2  Medium
2   3    High
3   4  Medium
4   5     Low
5   6    High
6   7     Low
7   8  Medium
8   9  Medium
9  10    High

Rating frequencies:
Rating
Medium    4
Low       3
High      3
Name: count, dtype: int64

One-hot encoded ratings:
     Low  Medium   High
0   True   False  False
1  False    True  False
2  False   False   True
3  False    True  False
4   True   False  False
5  False   False   True
6   True   False  False
7  False    True  False
8  False    True  False
9  False   False   True

# Example: Data Analysis with Pandas
Let's put everything together with a more comprehensive example:

In [ ]:
# Create a more realistic dataset
np.random.seed(42)  # For reproducibility
dates = pd.date_range('2025-01-01', periods=100, freq='D')
departments = ['HR', 'IT', 'Finance', 'Marketing', 'Operations']
regions = ['North', 'South', 'East', 'West']

df_analysis = pd.DataFrame({
    'Date': np.random.choice(dates, 500),
    'Department': np.random.choice(departments, 500),
    'Region': np.random.choice(regions, 500),
    'Sales': np.random.randint(1000, 10000, 500),
    'Expenses': np.random.randint(500, 5000, 500),
    'Employees': np.random.randint(1, 50, 500)
})

# Data preparation
df_analysis['Date'] = pd.to_datetime(df_analysis['Date'])
df_analysis['Month'] = df_analysis['Date'].dt.month
df_analysis['Profit'] = df_analysis['Sales'] - df_analysis['Expenses']
df_analysis['Efficiency'] = df_analysis['Sales'] / df_analysis['Employees']

print("Analysis dataset:")
print(df_analysis.head())

# Basic statistics by Department
dept_stats = df_analysis.groupby('Department').agg({
    'Sales': ['sum', 'mean'],
    'Expenses': ['sum', 'mean'],
    'Profit': ['sum', 'mean'],
    'Efficiency': 'mean'
})
print("\nDepartment statistics:")
print(dept_stats)

# Monthly trends
monthly_trends = df_analysis.groupby(['Month', 'Department'])['Profit'].sum().unstack()
print("\nMonthly profit trends by department:")
print(monthly_trends)

# Top performing regions
region_performance = df_analysis.groupby('Region').agg({
    'Sales': 'sum',
    'Profit': 'sum',
    'Efficiency': 'mean'
}).sort_values('Profit', ascending=False)
print("\nRegion performance (ranked by profit):")
print(region_performance)

# Correlation analysis
correlation = df_analysis[['Sales', 'Expenses', 'Employees', 'Profit', 'Efficiency']].corr()
print("\nCorrelation matrix:")
print(correlation)

Analysis dataset:
        Date  Department Region  Sales  Expenses  Employees  Month  Profit  \
0 2025-02-21   Marketing  North   5788      1739         29      2    4049
1 2025-04-03          IT   East   6490       625         30      4    5865
2 2025-01-15     Finance   East   5124      4565         39      1     559
3 2025-03-13  Operations   West   9340      4812         44      3    4528
4 2025-03-02          HR  South   4850      4368         47      3     482

   Efficiency
0  199.586207
1  216.333333
2  131.384615
3  212.272727
4  103.191489

Department statistics:
             Sales              Expenses               Profit               \
               sum         mean      sum         mean     sum         mean
Department
Finance     477563  5365.876404   263047  2955.584270  214516  2410.292135
HR          569968  5533.669903   266474  2587.126214  303494  2946.543689
IT          497208  4874.588235   298239  2923.911765  198969  1950.676471
Marketing   537964  5662.778947   256459  2699.568421  281505  2963.210526
Operations  597728  5384.936937   319557  2878.891892  278171  2506.045045

            Efficiency
                  mean
Department
Finance     474.793014
HR          543.015337
IT          447.692670
Marketing   475.720938
Operations  400.729300

Monthly profit trends by department:
Department  Finance      HR     IT  Marketing  Operations
Month
1             60265  101658  56633      91278      105387
2             65865   76437  57038      56894       73005
3             67811   83394  60391      97487       66686
4             20575   42005  24907      35846       33093

Region performance (ranked by profit):
         Sales  Profit  Efficiency
Region
South   708374  363562  433.445252
West    642540  329259  431.242259
East    674318  295098  447.829293
North   655199  288736  551.123047

Correlation matrix:
               Sales  Expenses  Employees    Profit  Efficiency
Sales       1.000000 -0.059600   0.006934  0.899572    0.288226
Expenses   -0.059600  1.000000   0.035586 -0.489611   -0.109851
Employees   0.006934  0.035586   1.000000 -0.009514   -0.525680
Profit      0.899572 -0.489611  -0.009514  1.000000    0.299829
Efficiency  0.288226 -0.109851  -0.525680  0.299829    1.000000

Pandas is an indispensable tool for data science, providing capabilities for data manipulation, cleaning, analysis, and exploration. The methods and techniques demonstrated in this notebook represent just a subset of Pandas' functionality covering most common operations needed for data science.